.main {
    padding-bottom: 5em;
}

.post-body {
    margin-top: 4em !important;
}

.nav {
    font-size: 0.9em;
    margin-top: 0.4em;
}

.brand {
    font-size: 1.3em;
}

.shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.shippori-mincho-medium {
    font-family: "Shippori Mincho", serif;
    font-weight: 500;
    font-style: normal;
}

.shippori-mincho-semibold {
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

.shippori-mincho-bold {
    font-family: "Shippori Mincho", serif;
    font-weight: 700;
    font-style: normal;
}

.shippori-mincho-extrabold {
    font-family: "Shippori Mincho", serif;
    font-weight: 800;
    font-style: normal;
}
